<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css">
     <link rel="icon" href="/images/download.png">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p style="margin-bottom: 16px;"> This is my about page</p>
        <img class="about-img" src="{{aboutImage}}">

    </div>
    {{>footer}}
</body>

</html>